#!/usr/sbin/nft -f
flush ruleset

table inet filter {
  sets {
    trusted_subnets {
      type ipv4_addr
      elements = { {% for subnet in firewall_trust_subnets %}{{ subnet }}{% if not loop.last %}, {% endif %}{% endfor %} }
    }
  }
  chains {
    input {
      type filter hook input priority 0;
      policy drop;
      ct state established,related accept
      iif "lo" accept
      ip protocol icmp accept
      ip6 nexthdr icmpv6 accept
      tcp dport { {% for port in firewall_profile_data.allowed_tcp_ports | default([22]) %}{{ port }}{% if not loop.last %}, {% endif %}{% endfor %} } accept
      {% if firewall_profile_data.lan_only_tcp_ports | default([]) %}
      ip saddr @trusted_subnets tcp dport { {% for port in firewall_profile_data.lan_only_tcp_ports %}{{ port }}{% if not loop.last %}, {% endif %}{% endfor %} } accept
      {% endif %}
      counter drop
    }
    forward { type filter hook forward priority 0; policy drop; }
    output { type filter hook output priority 0; policy accept; }
  }
}
